/* Component styles */
.component {
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 85%;
	overflow: hidden;
}

body {
	margin: 3%;
	font-family: Arial, sans-serif;
	color: #6f6f6f;
	background: #efefef;
}

table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	line-height: 1;
}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
table td:first-child {
	width:30%;
}

tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

a {
	color: #31bc86;
	text-decoration: none;
}

.btn {
    padding: 5px 10px;
    border: 1px;
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    display:inline-block;
    margin-right:5px;
}
 
.btn:hover {
    background: #0099cc;
    color: #ffffff;
}

.nav-container {
	display: block;
	position: fixed;
	width: 100%;
	height: 8%;
	top: 0;
	left: 0;
	background-color: #00759c;
	color: #ffffff;
	text-align: left;
	text-transform: capitalize;
}

.nav-content {
	position: relative;
	width: 95%;
	height: 86%;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: .5%;
	background: #00759c;
}

#appname {
	position: relative;
	float: left;
	display: inline-block;
	padding-top: 1%;
}

#home {
	position: relative;
	display: inline-block;
	margin-left: 3%;
}

.nav-dropdown {
	position: relative;
	float: right;
	
	margin-right: 13%;
	
	display: inline-block;
}

.nav-dropdown-content {
	display: none;
	position: fixed;
	
	background-color: #fff;
	min-width: 12%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.icon {
	display:inline-block;
	margin-right: 3px;
}


.main {
	padding-top:1%;
}

.message {
	padding-top: 1%;
	padding-bottom: 1%;
	border-style: solid;
	padding-left: 1%;
	width: 50%;
	background-color: antiquewhite;
}

.work-station {
	padding-top: 1%;
	padding-bottom: 1%;
}

.invalidDataMessage {
	padding-top: 1%;
	padding-bottom: 1%;
	border-style: solid;
	padding-left: 1%;
	width: 50%;
	background-color: antiquewhite;
	color:red;
	font-weight:bold;
}

#accordion-outer-div {
	padding-top: 1%;
}
.form {
	padding-top: 2%;
	padding-bottom: 2%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}